In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Advertising = pd.read_csv(r'data\Advertising.csv')
# Auto = pd.read_csv(r'data\Auto.csv')
# Boston = pd.read_csv(r'data\Boston.csv')
# Caravan = pd.read_csv(r'data\Caravan.csv')
# Carseats = pd.read_csv(r'data\Carseats.csv')
# Credit = pd.read_csv(r'data\Credit.csv')
# Default = pd.read_excel(r'data\Default.xlsx')
# Heart = pd.read_csv(r'data\Heart.csv')
# Hitters = pd.read_csv(r'data\Hitters.csv')
# Hitters_X_test = pd.read_csv(r'data\Hitters_X_test.csv')
# Hitters_X_train = pd.read_csv(r'data\Hitters_X_train.csv')
# Hitters_y_test = pd.read_csv(r'data\Hitters_y_test.csv')
# Hitters_y_train = pd.read_csv(r'data\Hitters_y_train.csv')
# Khan_xtest = pd.read_csv(r'data\Khan_xtest.csv')
# Khan_xtrain = pd.read_csv(r'data\Khan_xtrain.csv')
# Khan_ytest = pd.read_csv(r'data\Khan_ytest.csv')
# Khan_ytrain = pd.read_csv(r'data\Khan_ytrain.csv')
# NCI60_X = pd.read_csv(r'data\NCI60_X.csv')
# NCI60_y = pd.read_csv(r'data\NCI60_y.csv')
# Smarket = pd.read_csv(r'data\Smarket.csv')
# USArrests = pd.read_csv(r'data\USArrests.csv')
# Wage = pd.read_csv(r'data\Wage.csv')

In [2]:
import glob
def read_file_to_dict(path = r'Data',file_type = 'csv' ):
    Files = glob.glob(path + "/*." + file_type)
    dict_of_files = {}
    if file_type == 'csv':
        for file in Files:
            df = pd.read_csv(file, index_col=False)
            dict_of_files[str(file)[5:-4]] = df
    elif file_type == 'xlsx':
        for file in Files:
            df = pd.read_excel(file, index_col=0)
            dict_of_files[str(file)[5:-5]] = df
    return dict_of_files

def merge_two_dicts(x, y):
    z = x.copy()
    z.update(y)
    return z

In [26]:
csv_files = read_file_to_dict()
xlsx_files = read_file_to_dict(file_type='xlsx')
data = merge_two_dicts(csv_files, xlsx_files)

In [27]:
for k, v in data.items():
    print('Description of "{}" Dataset'.format(k))
    print(v.describe())
    print('\n\n\n')

Description of "Advertising" Dataset
       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000




Description of "Auto" Dataset
              mpg   cylinders  displacement       weight  acceleration  \
count  397.000000  397.000000    397.000000   397.000000    397.000000
mean    23.515869    5.458438    193.532746  2970.261965     15.555668
std      7.825804    1.701577    104.379583   847.904119      2.749995
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.000000  2223.000000     13.800000
50%     23.000000    4.000000    146.000000  2800.000000     15.500000
75%     29.000000    8.000000    262.000000  3609.000000     17.100000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

             year      origin
count  397.000000  397.000000
mean    75.994962    1.574307
std      3.690005    0.802549
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000




Description of "Boston" Dataset
             crim          zn       indus        chas         nox          rm  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779    0.069170    0.554695    6.284634
std      8.601545   23.322453    6.860353    0.253994    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082045    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.256510    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.677082   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              age         dis         rad         tax     ptratio       black  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.574901    3.795043    9.549407  408.237154   18.455534  356.674032
std     28.148861    2.105710    8.707259  168.537116    2.164946   91.294864
min      2.900000    1.129600    1.000000  187.000000   12.600000    0.320000
25%     45.025000    2.100175    4.000000  279.000000   17.400000  375.377500
50%     77.500000    3.207450    5.000000  330.000000   19.050000  391.440000
75%     94.075000    5.188425   24.000000  666.000000   20.200000  396.225000
max    100.000000   12.126500   24.000000  711.000000   22.000000  396.900000

            lstat        medv
count  506.000000  506.000000
mean    12.653063   22.532806
std      7.141062    9.197104
min      1.730000    5.000000
25%      6.950000   17.025000
50%     11.360000   21.200000
75%     16.955000   25.000000
max     37.970000   50.000000




Description of "Caravan" Dataset
        Unnamed: 0      MOSTYPE     MAANTHUI      MGEMOMV     MGEMLEEF  \
count  5822.000000  5822.000000  5822.000000  5822.000000  5822.000000
mean   2911.500000    24.253349     1.110615     2.678805     2.991240
std    1680.810965    12.846706     0.405842     0.789835     0.814589
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%    1456.250000    10.000000     1.000000     2.000000     2.000000
50%    2911.500000    30.000000     1.000000     3.000000     3.000000
75%    4366.750000    35.000000     1.000000     3.000000     3.000000
max    5822.000000    41.000000    10.000000     5.000000     6.000000

          MOSHOOFD       MGODRK       MGODPR       MGODOV       MGODGE  \
count  5822.000000  5822.000000  5822.000000  5822.000000  5822.000000
mean      5.773617     0.696496     4.626932     1.069907     3.258502
std       2.856760     1.003234     1.715843     1.017503     1.597647
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%       3.000000     0.000000     4.000000     0.000000     2.000000
50%       7.000000     0.000000     5.000000     1.000000     3.000000
75%       8.000000     1.000000     6.000000     2.000000     4.000000
max      10.000000     9.000000     9.000000     5.000000     9.000000

          ...            ALEVEN     APERSONG      AGEZONG      AWAOREG  \
count     ...       5822.000000  5822.000000  5822.000000  5822.000000
mean      ...          0.076606     0.005325     0.006527     0.004638
std       ...          0.377569     0.072782     0.080532     0.077403
min       ...          0.000000     0.000000     0.000000     0.000000
25%       ...          0.000000     0.000000     0.000000     0.000000
50%       ...          0.000000     0.000000     0.000000     0.000000
75%       ...          0.000000     0.000000     0.000000     0.000000
max       ...          8.000000     1.000000     1.000000     2.000000

            ABRAND      AZEILPL     APLEZIER       AFIETS      AINBOED  \
count  5822.000000  5822.000000  5822.000000  5822.000000  5822.000000
mean      0.570079     0.000515     0.006012     0.031776     0.007901
std       0.562058     0.022696     0.081632     0.210986     0.090463
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000     0.000000     0.000000
75%       1.000000     0.000000     0.000000     0.000000     0.000000
max       7.000000     1.000000     2.000000     3.000000     2.000000

          ABYSTAND
count  5822.000000
mean      0.014256
std       0.119996
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       2.000000

[8 rows x 86 columns]




Description of "Carseats" Dataset
       Unnamed: 0       Sales   CompPrice      Income  Advertising  \
count  400.000000  400.000000  400.000000  400.000000   400.000000
mean   200.500000    7.496325  124.975000   68.657500     6.635000
std    115.614301    2.824115   15.334512   27.986037     6.650364
min      1.000000    0.000000   77.000000   21.000000     0.000000
25%    100.750000    5.390000  115.000000   42.750000     0.000000
50%    200.500000    7.490000  125.000000   69.000000     5.000000
75%    300.250000    9.320000  135.000000   91.000000    12.000000
max    400.000000   16.270000  175.000000  120.000000    29.000000

       Population       Price         Age   Education
count  400.000000  400.000000  400.000000  400.000000
mean   264.840000  115.795000   53.322500   13.900000
std    147.376436   23.676664   16.200297    2.620528
min     10.000000   24.000000   25.000000   10.000000
25%    139.000000  100.000000   39.750000   12.000000
50%    272.000000  117.000000   54.500000   14.000000
75%    398.500000  131.000000   66.000000   16.000000
max    509.000000  191.000000   80.000000   18.000000




Description of "Credit" Dataset
       Unnamed: 0      Income         Limit      Rating       Cards  \
count  400.000000  400.000000    400.000000  400.000000  400.000000
mean   200.500000   45.218885   4735.600000  354.940000    2.957500
std    115.614301   35.244273   2308.198848  154.724143    1.371275
min      1.000000   10.354000    855.000000   93.000000    1.000000
25%    100.750000   21.007250   3088.000000  247.250000    2.000000
50%    200.500000   33.115500   4622.500000  344.000000    3.000000
75%    300.250000   57.470750   5872.750000  437.250000    4.000000
max    400.000000  186.634000  13913.000000  982.000000    9.000000

              Age   Education      Balance
count  400.000000  400.000000   400.000000
mean    55.667500   13.450000   520.015000
std     17.249807    3.125207   459.758877
min     23.000000    5.000000     0.000000
25%     41.750000   11.000000    68.750000
50%     56.000000   14.000000   459.500000
75%     70.000000   16.000000   863.000000
max     98.000000   20.000000  1999.000000




Description of "Heart" Dataset
       Unnamed: 0         Age         Sex      RestBP        Chol         Fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean   152.000000   54.438944    0.679868  131.689769  246.693069    0.148515
std     87.612784    9.038662    0.467299   17.599748   51.776918    0.356198
min      1.000000   29.000000    0.000000   94.000000  126.000000    0.000000
25%     76.500000   48.000000    0.000000  120.000000  211.000000    0.000000
50%    152.000000   56.000000    1.000000  130.000000  241.000000    0.000000
75%    227.500000   61.000000    1.000000  140.000000  275.000000    0.000000
max    303.000000   77.000000    1.000000  200.000000  564.000000    1.000000

          RestECG       MaxHR       ExAng     Oldpeak       Slope          Ca
count  303.000000  303.000000  303.000000  303.000000  303.000000  299.000000
mean     0.990099  149.607261    0.326733    1.039604    1.600660    0.672241
std      0.994971   22.875003    0.469794    1.161075    0.616226    0.937438
min      0.000000   71.000000    0.000000    0.000000    1.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    2.000000    0.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000    3.000000




Description of "Hitters" Dataset
            AtBat        Hits       HmRun        Runs         RBI       Walks  \
count  322.000000  322.000000  322.000000  322.000000  322.000000  322.000000
mean   380.928571  101.024845   10.770186   50.909938   48.027950   38.742236
std    153.404981   46.454741    8.709037   26.024095   26.166895   21.639327
min     16.000000    1.000000    0.000000    0.000000    0.000000    0.000000
25%    255.250000   64.000000    4.000000   30.250000   28.000000   22.000000
50%    379.500000   96.000000    8.000000   48.000000   44.000000   35.000000
75%    512.000000  137.000000   16.000000   69.000000   64.750000   53.000000
max    687.000000  238.000000   40.000000  130.000000  121.000000  105.000000

            Years       CAtBat        CHits      CHmRun        CRuns  \
count  322.000000    322.00000   322.000000  322.000000   322.000000
mean     7.444099   2648.68323   717.571429   69.490683   358.795031
std      4.926087   2324.20587   654.472627   86.266061   334.105886
min      1.000000     19.00000     4.000000    0.000000     1.000000
25%      4.000000    816.75000   209.000000   14.000000   100.250000
50%      6.000000   1928.00000   508.000000   37.500000   247.000000
75%     11.000000   3924.25000  1059.250000   90.000000   526.250000
max     24.000000  14053.00000  4256.000000  548.000000  2165.000000

              CRBI       CWalks      PutOuts     Assists      Errors  \
count   322.000000   322.000000   322.000000  322.000000  322.000000
mean    330.118012   260.239130   288.937888  106.913043    8.040373
std     333.219617   267.058085   280.704614  136.854876    6.368359
min       0.000000     0.000000     0.000000    0.000000    0.000000
25%      88.750000    67.250000   109.250000    7.000000    3.000000
50%     220.500000   170.500000   212.000000   39.500000    6.000000
75%     426.250000   339.250000   325.000000  166.000000   11.000000
max    1659.000000  1566.000000  1378.000000  492.000000   32.000000

            Salary
count   263.000000
mean    535.925882
std     451.118681
min      67.500000
25%     190.000000
50%     425.000000
75%     750.000000
max    2460.000000




Description of "Hitters_X_test" Dataset

            AtBat        Hits       HmRun        Runs         RBI       Walks  \
count  132.000000  132.000000  132.000000  132.000000  132.000000  132.000000
mean   409.553030  107.984848   12.174242   55.704545   53.060606   42.227273
std    138.567277   42.363564    9.344547   24.420845   26.365823   21.247574
min    151.000000   39.000000    0.000000   15.000000   11.000000    7.000000
25%    283.000000   74.500000    5.000000   34.750000   31.750000   26.000000
50%    424.000000  108.000000    9.000000   54.500000   48.000000   38.500000
75%    523.500000  139.000000   20.000000   74.250000   73.000000   58.250000
max    680.000000  238.000000   34.000000  119.000000  117.000000   97.000000

            Years        CAtBat        CHits      CHmRun        CRuns  \
count  132.000000    132.000000   132.000000  132.000000   132.000000
mean     7.537879   2789.719697   753.575758   74.401515   381.712121
std      4.953841   2347.398122   668.890834   83.616706   350.598845
min      1.000000    181.000000    50.000000    0.000000    19.000000
25%      3.000000    881.500000   205.500000   16.000000   102.000000
50%      6.000000   2047.000000   555.000000   39.500000   264.000000
75%     12.000000   4306.000000  1137.250000  100.500000   562.000000
max     24.000000  14053.000000  4256.000000  351.000000  2165.000000

              CRBI       CWalks     LeagueN   DivisionW      PutOuts  \
count   132.000000   132.000000  132.000000  132.000000   132.000000
mean    345.462121   276.636364    0.371212    0.522727   290.575758
std     321.666116   279.027845    0.484970    0.501386   292.416939
min      18.000000     8.000000    0.000000    0.000000     0.000000
25%      93.250000    74.750000    0.000000    0.000000   107.500000
50%     263.500000   182.500000    0.000000    1.000000   206.000000
75%     474.750000   373.500000    1.000000    1.000000   325.250000
max    1314.000000  1566.000000    1.000000    1.000000  1377.000000

          Assists      Errors  NewLeagueN
count  132.000000  132.000000  132.000000
mean   117.393939    8.628788    0.401515
std    144.725998    6.862227    0.492072
min      0.000000    0.000000    0.000000
25%      6.000000    3.000000    0.000000
50%     44.500000    6.500000    0.000000
75%    188.500000   13.000000    1.000000
max    487.000000   29.000000    1.000000




Description of "Hitters_X_train" Dataset
            AtBat        Hits       HmRun        Runs         RBI       Walks  \
count  131.000000  131.000000  131.000000  131.000000  131.000000  131.000000
mean   397.687023  107.671756   11.061069   53.778626   49.900763   39.992366
std    155.925825   47.910243    8.120019   26.678799   25.388627   22.206893
min     19.000000    1.000000    0.000000    0.000000    0.000000    0.000000
25%    280.500000   70.000000    4.500000   32.000000   29.000000   22.000000
50%    381.000000  103.000000    9.000000   50.000000   46.000000   35.000000
75%    526.000000  143.000000   16.000000   70.500000   70.500000   56.000000
max    687.000000  213.000000   40.000000  130.000000  121.000000  105.000000

            Years       CAtBat        CHits      CHmRun        CRuns  \
count  131.000000   131.000000   131.000000  131.000000   131.000000
mean     7.083969  2524.358779   690.557252   64.038168   340.572519
std      4.634383  2224.653280   627.634008   80.727786   310.405368
min      1.000000    19.000000     4.000000    0.000000     2.000000
25%      4.000000   842.500000   218.500000   14.000000   106.000000
50%      6.000000  1897.000000   491.000000   40.000000   247.000000
75%      9.000000  3186.000000   914.500000   81.500000   447.500000
max     20.000000  9528.000000  2583.000000  548.000000  1509.000000

              CRBI       CWalks     LeagueN   DivisionW      PutOuts  \
count   131.000000   131.000000  131.000000  131.000000   131.000000
mean    315.259542   243.770992    0.572519    0.496183   290.847328
std     325.600453   248.036243    0.496612    0.501905   267.893391
min       3.000000     1.000000    0.000000    0.000000     0.000000
25%      98.000000    69.500000    0.000000    0.000000   120.000000
50%     222.000000   172.000000    1.000000    0.000000   229.000000
75%     386.500000   292.500000    1.000000    1.000000   315.000000
max    1659.000000  1342.000000    1.000000    1.000000  1320.000000

          Assists      Errors  NewLeagueN
count  131.000000  131.000000  131.000000
mean   120.137405    8.557252    0.526718
std    145.979544    6.364759    0.501202
min      0.000000    0.000000    0.000000
25%      9.000000    3.500000    0.000000
50%     46.000000    7.000000    1.000000
75%    190.500000   13.000000    1.000000
max    492.000000   32.000000    1.000000




Description of "Hitters_y_test" Dataset
       Unnamed: 0            x
count  132.000000   132.000000
mean    66.500000   523.958386
std     38.249183   440.620762
min      1.000000    67.500000
25%     33.750000   165.000000
50%     66.500000   425.000000
75%     99.250000   759.375000
max    132.000000  2412.500000




Description of "Hitters_y_train" Dataset
       Unnamed: 0            x
count  131.000000   131.000000
mean    66.000000   547.984733
std     37.960506   462.833632
min      1.000000    68.000000
25%     33.500000   200.000000
50%     66.000000   420.000000
75%     98.500000   745.000000
max    131.000000  2460.000000




Description of "Khan_xtest" Dataset
              V1         V2         V3         V4         V5         V6  \
count  20.000000  20.000000  20.000000  20.000000  20.000000  20.000000
mean   -0.066476  -1.419192  -0.062079  -2.246594  -1.348305  -0.152565
std     1.057027   0.776292   0.714713   0.482669   0.288687   0.917996
min    -2.136224  -2.439551  -1.538048  -3.366796  -1.822631  -1.263723
25%    -0.408574  -1.991004  -0.488260  -2.618142  -1.541347  -1.037483
50%    -0.191585  -1.449957   0.108663  -2.156792  -1.317902  -0.396405
75%     0.724072  -1.109865   0.365710  -1.896795  -1.189614   0.684111
max     1.471485   0.495367   1.103533  -1.465771  -0.659132   1.506186

              V7         V8         V9        V10    ...          V2299  \
count  20.000000  20.000000  20.000000  20.000000    ...      20.000000
mean    2.087737   0.270415   0.493585   0.544348    ...      -0.531451
std     0.430019   0.513749   0.421549   0.452692    ...       0.809946
min     1.426380  -0.743599  -0.342490  -0.533071    ...      -2.049494
25%     1.742582  -0.085723   0.186589   0.418110    ...      -1.106474
50%     2.079408   0.324379   0.514015   0.565365    ...      -0.427051
75%     2.391623   0.468905   0.775952   0.822827    ...      -0.051193
max     2.946642   1.224011   1.437866   1.169443    ...       1.077559

           V2300      V2301      V2302      V2303      V2304      V2305  \
count  20.000000  20.000000  20.000000  20.000000  20.000000  20.000000
mean   -0.993175  -1.204122  -1.022151  -1.124479  -1.528284  -1.459362
std     0.540682   0.643098   0.492383   1.240883   0.939037   0.780866
min    -2.149006  -2.385967  -2.273998  -3.294138  -3.332605  -2.840439
25%    -1.163352  -1.709001  -1.098410  -1.926802  -2.247440  -1.966559
50%    -0.986376  -1.183148  -0.849811  -0.825595  -1.428392  -1.360295
75%    -0.651094  -0.921126  -0.750044  -0.297100  -0.917559  -1.017191
max    -0.128857   0.014002  -0.389641   0.885914   0.059118   0.385874

           V2306      V2307      V2308
count  20.000000  20.000000  20.000000
mean   -0.649908  -0.522749  -1.101707
std     0.629034   0.656384   0.481919
min    -1.722607  -2.012157  -1.935168
25%    -1.088386  -0.889148  -1.381679
50%    -0.723471  -0.463822  -1.057871
75%    -0.127726  -0.138186  -0.794670
max     0.479335   0.556926  -0.055513

[8 rows x 2308 columns]




Description of "Khan_xtrain" Dataset
              V1         V2         V3         V4         V5         V6  \
count  63.000000  63.000000  63.000000  63.000000  63.000000  63.000000
mean    0.146931  -1.739001  -0.248668  -1.078090  -1.385706   0.517289
std     0.853339   0.905571   0.701464   1.190656   0.653898   0.661113
min    -2.683846  -3.007805  -1.851509  -2.956512  -3.216379  -1.118101
25%    -0.081323  -2.427080  -0.634168  -2.121514  -1.860178   0.086846
50%     0.244200  -1.949818  -0.113617  -1.274395  -1.211669   0.542266
75%     0.735390  -1.318729   0.253025   0.235544  -0.882397   0.944085
max     1.285507   0.654770   1.160742   0.583779  -0.264747   2.452728

              V7         V8         V9        V10    ...          V2299  \
count  63.000000  63.000000  63.000000  63.000000    ...      63.000000
mean    1.552154   0.095126   0.162019   0.345152    ...      -0.436448
std     0.365211   0.488837   0.434185   0.520687    ...       0.648043
min     0.776063  -1.218072  -0.639227  -1.572142    ...      -2.276917
25%     1.288394  -0.321716  -0.123633   0.052318    ...      -0.826799
50%     1.510170   0.137324   0.133569   0.386554    ...      -0.290887
75%     1.791494   0.437873   0.455650   0.693397    ...      -0.000435
max     2.864085   0.956626   1.255815   1.122492    ...       0.654146

           V2300      V2301      V2302      V2303      V2304      V2305  \
count  63.000000  63.000000  63.000000  63.000000  63.000000  63.000000
mean   -0.443471  -1.365441  -0.653703  -0.477985  -1.857011  -1.741823
std     0.640036   0.706647   0.545154   1.006027   0.930764   0.898833
min    -2.226550  -2.847312  -2.107018  -2.950759  -4.803621  -5.496768
25%    -0.811977  -1.897463  -1.022860  -1.008597  -2.408377  -2.149306
50%    -0.408119  -1.387495  -0.658939  -0.306525  -1.641445  -1.709258
75%    -0.026909  -0.813623  -0.356680   0.313942  -1.199981  -1.124832
max     1.281323   0.210180   0.588231   1.040171  -0.207886  -0.153268

           V2306      V2307      V2308
count  63.000000  63.000000  63.000000
mean   -1.067887  -0.507258  -1.566933
std     0.579749   0.577504   0.632065
min    -3.146555  -2.691193  -3.110021
25%    -1.388315  -0.812063  -1.992975
50%    -1.115962  -0.428939  -1.500584
75%    -0.866431  -0.178323  -1.209827
max     0.445967   0.570471   0.041142

[8 rows x 2308 columns]




Description of "Khan_ytest" Dataset
       Unnamed: 0         x
count    20.00000  20.00000
mean     10.50000   2.65000
std       5.91608   1.03999
min       1.00000   1.00000
25%       5.75000   2.00000
50%      10.50000   3.00000
75%      15.25000   3.25000
max      20.00000   4.00000




Description of "Khan_ytrain" Dataset
       Unnamed: 0          x
count   63.000000  63.000000
mean    32.000000   2.698413
std     18.330303   1.057003
min      1.000000   1.000000
25%     16.500000   2.000000
50%     32.000000   3.000000
75%     47.500000   4.000000
max     63.000000   4.000000




Description of "NCI60_X" Dataset

               1          2          3          4          5          6  \
count  64.000000  64.000000  64.000000  64.000000  64.000000  64.000000
mean   -0.019063  -0.027813  -0.019923  -0.328673   0.026093   0.006718
std     0.441332   0.757433   0.433306   1.091905   0.485073   0.350432
min    -1.060000  -2.190000  -1.710000  -2.610000  -0.825000  -0.700000
25%    -0.372500  -0.404985  -0.192485  -1.322500  -0.225000  -0.156250
50%     0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
75%     0.310005   0.352500   0.162490   0.692500   0.210000   0.184995
max     0.940000   2.240000   1.150000   1.500000   1.715000   1.160000

               7          8          9         10    ...           6821  \
count  64.000000  64.000000  64.000000  64.000000    ...      64.000000
mean    0.019687  -0.023126   0.000780   0.019237    ...      -0.079551
std     0.370683   0.338629   0.429188   0.641583    ...       0.890365
min    -0.920000  -0.705000  -0.900000  -1.654981    ...      -1.850020
25%    -0.246250  -0.204985  -0.360000  -0.477466    ...      -0.660019
50%     0.000000   0.000000   0.000000   0.000000    ...       0.000000
75%     0.247505   0.160015   0.295000   0.467519    ...       0.304980
max     0.940000   0.724961   0.990000   1.490019    ...       2.929980

            6822       6823       6824       6825       6826       6827  \
count  64.000000  64.000000  64.000000  64.000000  64.000000  64.000000
mean    0.402577   0.295077   0.171093   0.101152   0.153671   0.090775
std     1.131769   1.121419   0.888764   0.641122   0.924292   1.209138
min    -0.775000  -1.150000  -2.095000  -1.390020  -1.330000  -2.030010
25%    -0.177500  -0.327500  -0.328750  -0.232520  -0.330000  -0.602510
50%     0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
75%     0.560000   0.422500   0.427500   0.302480   0.325000   0.134995
max     5.200000   5.510000   3.995000   2.899980   4.600000   5.339990

            6828       6829       6830
count  64.000000  64.000000  64.000000
mean   -0.126798   0.129921   0.143514
std     0.787136   0.566303   1.509312
min    -1.700000  -0.910000  -2.830000
25%    -0.682500  -0.275000  -1.100000
50%     0.000000   0.000000   0.000000
75%     0.302505   0.451255   1.250000
max     2.560000   2.030000   3.940000

[8 rows x 6830 columns]




Description of "NCI60_y" Dataset
       Unnamed: 0
count   64.000000
mean    32.500000
std     18.618987
min      1.000000
25%     16.750000
50%     32.500000
75%     48.250000
max     64.000000




Description of "Smarket" Dataset
        Unnamed: 0         Year         Lag1         Lag2         Lag3  \
count  1250.000000  1250.000000  1250.000000  1250.000000  1250.000000
mean    625.500000  2003.016000     0.003834     0.003919     0.001716
std     360.988227     1.409018     1.136299     1.136280     1.138703
min       1.000000  2001.000000    -4.922000    -4.922000    -4.922000
25%     313.250000  2002.000000    -0.639500    -0.639500    -0.640000
50%     625.500000  2003.000000     0.039000     0.039000     0.038500
75%     937.750000  2004.000000     0.596750     0.596750     0.596750
max    1250.000000  2005.000000     5.733000     5.733000     5.733000

              Lag4        Lag5       Volume        Today
count  1250.000000  1250.00000  1250.000000  1250.000000
mean      0.001636     0.00561     1.478305     0.003138
std       1.138774     1.14755     0.360357     1.136334
min      -4.922000    -4.92200     0.356070    -4.922000
25%      -0.640000    -0.64000     1.257400    -0.639500
50%       0.038500     0.03850     1.422950     0.038500
75%       0.596750     0.59700     1.641675     0.596750
max       5.733000     5.73300     3.152470     5.733000




Description of "USArrests" Dataset
         Murder     Assault   UrbanPop       Rape
count  50.00000   50.000000  50.000000  50.000000
mean    7.78800  170.760000  65.540000  21.232000
std     4.35551   83.337661  14.474763   9.366385
min     0.80000   45.000000  32.000000   7.300000
25%     4.07500  109.000000  54.500000  15.075000
50%     7.25000  159.000000  66.000000  20.100000
75%    11.25000  249.000000  77.750000  26.175000
max    17.40000  337.000000  91.000000  46.000000




Description of "Wage" Dataset
          Unnamed: 0         year          age      logwage         wage
count    3000.000000  3000.000000  3000.000000  3000.000000  3000.000000
mean   218883.373000  2005.791000    42.414667     4.653905   111.703608
std    145654.072587     2.026167    11.542406     0.351753    41.728595
min      7373.000000  2003.000000    18.000000     3.000000    20.085537
25%     85622.250000  2004.000000    33.750000     4.447158    85.383940
50%    228799.500000  2006.000000    42.000000     4.653213   104.921507
75%    374759.500000  2008.000000    51.000000     4.857332   128.680488
max    453870.000000  2009.000000    80.000000     5.763128   318.342430




Description of "Default" Dataset
            balance        income
count  10000.000000  10000.000000
mean     835.374886  33516.981876
std      483.714985  13336.639563
min        0.000000    771.967729
25%      481.731105  21340.462903
50%      823.636973  34552.644802
75%     1166.308386  43807.729272
max     2654.322576  73554.233495

In [28]:
for k, v in data.items():
    print('Top 2 Rows of "{}" Dataset'.format(k))
    print(v.head(2))
    print('\n\n\n')

Top 2 Rows of "Advertising" Dataset
   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4




Top 2 Rows of "Auto" Dataset
    mpg  cylinders  displacement horsepower  weight  acceleration  year  \
0  18.0          8         307.0        130    3504          12.0    70
1  15.0          8         350.0        165    3693          11.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320




Top 2 Rows of "Boston" Dataset
      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8

   black  lstat  medv
0  396.9   4.98  24.0
1  396.9   9.14  21.6




Top 2 Rows of "Caravan" Dataset
   Unnamed: 0  MOSTYPE  MAANTHUI  MGEMOMV  MGEMLEEF  MOSHOOFD  MGODRK  MGODPR  \
0           1       33         1        3         2         8       0       5
1           2       37         1        2         2         8       1       4

   MGODOV  MGODGE    ...     APERSONG  AGEZONG  AWAOREG  ABRAND  AZEILPL  \
0       1       3    ...            0        0        0       1        0
1       1       4    ...            0        0        0       1        0

   APLEZIER  AFIETS  AINBOED  ABYSTAND  Purchase
0         0       0        0         0        No
1         0       0        0         0        No

[2 rows x 87 columns]




Top 2 Rows of "Carseats" Dataset
   Unnamed: 0  Sales  CompPrice  Income  Advertising  Population  Price  \
0           1   9.50        138      73           11         276    120
1           2  11.22        111      48           16         260     83

  ShelveLoc  Age  Education Urban   US
0       Bad   42         17   Yes  Yes
1      Good   65         10   Yes  Yes




Top 2 Rows of "Credit" Dataset
   Unnamed: 0   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0           1   14.891   3606     283      2   34         11    Male      No
1           2  106.025   6645     483      3   82         15  Female     Yes

  Married  Ethnicity  Balance
0     Yes  Caucasian      333
1     Yes      Asian      903




Top 2 Rows of "Heart" Dataset
   Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0           1   63    1       typical     145   233    1        2    150
1           2   67    1  asymptomatic     160   286    0        2    108

   ExAng  Oldpeak  Slope   Ca    Thal  AHD
0      0      2.3      3  0.0   fixed   No
1      1      1.5      2  3.0  normal  Yes




Top 2 Rows of "Hitters" Dataset
       Unnamed: 0  AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  CHits  \
0  -Andy Allanson    293    66      1    30   29     14      1     293     66
1     -Alan Ashby    315    81      7    24   38     39     14    3449    835

     ...      CRuns  CRBI  CWalks  League Division PutOuts  Assists  Errors  \
0    ...         30    29      14       A        E     446       33      20
1    ...        321   414     375       N        W     632       43      10

   Salary  NewLeague
0     NaN          A
1   475.0          N

[2 rows x 21 columns]




Top 2 Rows of "Hitters_X_test" Dataset
      Unnamed: 0  AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  CHits  \
0    -Alan Ashby    315    81      7    24   38     39     14    3449    835
1  -Andre Dawson    496   141     20    65   78     37     11    5628   1575

   CHmRun  CRuns  CRBI  CWalks  LeagueN  DivisionW  PutOuts  Assists  Errors  \
0      69    321   414     375        1          1      632       43      10
1     225    828   838     354        1          0      200       11       3

   NewLeagueN
0           1
1           1




Top 2 Rows of "Hitters_X_train" Dataset
           Unnamed: 0  AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  \
0  -Darryl Strawberry    475   123     27    76   93     72      4    1810
1       -Glenn Wilson    584   158     15    70   84     42      5    2358

   CHits  CHmRun  CRuns  CRBI  CWalks  LeagueN  DivisionW  PutOuts  Assists  \
0    471     108    292   343     267        1          0      226       10
1    636      58    265   316     134        1          0      331       20

   Errors  NewLeagueN
0       6           1
1       4           1




Top 2 Rows of "Hitters_y_test" Dataset
   Unnamed: 0      x
0           1  475.0
1           2  500.0




Top 2 Rows of "Hitters_y_train" Dataset
   Unnamed: 0       x
0           1  1220.0
1           2   662.5




Top 2 Rows of "Khan_xtest" Dataset
  Unnamed: 0        V1        V2        V3        V4        V5        V6  \
0         V1  0.139501 -1.168927  0.564973 -3.366796 -1.323132 -0.692547
1         V2  1.164275 -2.018158  1.103533 -2.165435 -1.440117 -0.437420

         V7        V8        V9    ...        V2299     V2300     V2301  \
0  2.327395  0.923703  0.112167    ...    -0.180803 -0.942635 -1.210662
1  2.661587  1.224011  0.210504    ...    -0.709480 -1.532940 -2.385967

      V2302     V2303     V2304     V2305     V2306     V2307     V2308
0 -0.588787 -0.070422 -2.783852 -2.840439 -1.160913 -0.343054 -0.055513
1 -0.389641  0.422781 -2.816750 -2.422495 -1.722607 -1.703749 -1.699910

[2 rows x 2309 columns]




Top 2 Rows of "Khan_xtrain" Dataset
  Unnamed: 0        V1        V2        V3        V4        V5        V6  \
0         V1  0.773344 -2.438405 -0.482562 -2.721135 -1.217058  0.827809
1         V2 -0.078178 -2.415754  0.412772 -2.825146 -0.626236  0.054488

         V7        V8        V9    ...        V2299     V2300     V2301  \
0  1.342604  0.057042  0.133569    ...    -0.238511 -0.027474 -1.660205
1  1.429498 -0.120249  0.456792    ...    -0.657394 -0.246284 -0.836325

      V2302     V2303     V2304     V2305     V2306    V2307     V2308
0  0.588231 -0.463624 -3.952845 -5.496768 -1.414282 -0.64760 -1.763172
1 -0.571284  0.034788 -2.478130 -3.661264 -1.093923 -1.20932 -0.824395

[2 rows x 2309 columns]




Top 2 Rows of "Khan_ytest" Dataset
   Unnamed: 0  x
0           1  3
1           2  2




Top 2 Rows of "Khan_ytrain" Dataset
   Unnamed: 0  x
0           1  2
1           2  2




Top 2 Rows of "NCI60_X" Dataset
  Unnamed: 0         1         2         3         4         5         6  \
0         V1  0.300000  1.180000  0.550000  1.140000 -0.265000 -0.070000
1         V2  0.679961  1.289961  0.169961  0.379961  0.464961  0.579961

          7         8         9    ...         6821      6822      6823  \
0  0.350000 -0.315000 -0.450000    ...    -0.990019  0.000000  0.030000
1  0.699961  0.724961 -0.040039    ...    -0.270058 -0.300039 -0.250039

       6824      6825      6826      6827      6828      6829      6830
0 -0.175000  0.629981 -0.030000  0.000000  0.280000 -0.340000 -1.930000
1 -0.535039  0.109941 -0.860039 -1.250049 -0.770039 -0.390039 -2.000039

[2 rows x 6831 columns]




Top 2 Rows of "NCI60_y" Dataset
   Unnamed: 0    x
0           1  CNS
1           2  CNS




Top 2 Rows of "Smarket" Dataset
   Unnamed: 0  Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today  \
0           1  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959
1           2  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032

  Direction
0        Up
1        Up




Top 2 Rows of "USArrests" Dataset
  Unnamed: 0  Murder  Assault  UrbanPop  Rape
0    Alabama    13.2      236        58  21.2
1     Alaska    10.0      263        48  44.5




Top 2 Rows of "Wage" Dataset
   Unnamed: 0  year  age      sex            maritl      race  \
0      231655  2006   18  1. Male  1. Never Married  1. White
1       86582  2004   24  1. Male  1. Never Married  1. White

         education              region        jobclass          health  \
0     1. < HS Grad  2. Middle Atlantic   1. Industrial       1. <=Good
1  4. College Grad  2. Middle Atlantic  2. Information  2. >=Very Good

  health_ins   logwage       wage
0      2. No  4.318063  75.043154
1      2. No  4.255273  70.476020




Top 2 Rows of "Default" Dataset
  default student     balance        income
1      No      No  729.526495  44361.625074
2      No     Yes  817.180407  12106.134700

In [19]:
drop_col = ['Advertising','Caravan', 'Carseats', 'Credit', 'Heart','Smarket', 'Wage', 'Hitters']
# not_understand = ['NCI60', 'Khan', 'Hitters']

In [29]:
for k, v in data.items():
    if k in drop_col:
        data[k].drop(['Unnamed: 0'], axis = 1, inplace=True)

In [30]:
for k, v in data.items():
    if not(k.startswith('NCI60') or k.startswith('Khan') or k.startswith('Hitters')):
        print('Shape of "{}" Dataset'.format(k))
        print(v.shape)
        print('\n\n\n')

Shape of "Advertising" Dataset
(200, 4)




Shape of "Auto" Dataset
(397, 9)




Shape of "Boston" Dataset
(506, 14)




Shape of "Caravan" Dataset
(5822, 86)




Shape of "Carseats" Dataset
(400, 11)




Shape of "Credit" Dataset
(400, 11)




Shape of "Heart" Dataset
(303, 14)




Shape of "Smarket" Dataset
(1250, 9)




Shape of "USArrests" Dataset
(50, 5)




Shape of "Wage" Dataset
(3000, 12)




Shape of "Default" Dataset
(10000, 4)

In [31]:
for k, v in data.items():
    if not(k.startswith('NCI60') or k.startswith('Khan') or k.startswith('Hitters')):
        print('Top 2 Rows of "{}" Dataset'.format(k))
        print(v.head(2))
        print('\n\n\n')

Top 2 Rows of "Advertising" Dataset
      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4




Top 2 Rows of "Auto" Dataset
    mpg  cylinders  displacement horsepower  weight  acceleration  year  \
0  18.0          8         307.0        130    3504          12.0    70
1  15.0          8         350.0        165    3693          11.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320




Top 2 Rows of "Boston" Dataset
      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8

   black  lstat  medv
0  396.9   4.98  24.0
1  396.9   9.14  21.6




Top 2 Rows of "Caravan" Dataset
   MOSTYPE  MAANTHUI  MGEMOMV  MGEMLEEF  MOSHOOFD  MGODRK  MGODPR  MGODOV  \
0       33         1        3         2         8       0       5       1
1       37         1        2         2         8       1       4       1

   MGODGE  MRELGE    ...     APERSONG  AGEZONG  AWAOREG  ABRAND  AZEILPL  \
0       3       7    ...            0        0        0       1        0
1       4       6    ...            0        0        0       1        0

   APLEZIER  AFIETS  AINBOED  ABYSTAND  Purchase
0         0       0        0         0        No
1         0       0        0         0        No

[2 rows x 86 columns]




Top 2 Rows of "Carseats" Dataset
   Sales  CompPrice  Income  Advertising  Population  Price ShelveLoc  Age  \
0   9.50        138      73           11         276    120       Bad   42
1  11.22        111      48           16         260     83      Good   65

   Education Urban   US
0         17   Yes  Yes
1         10   Yes  Yes




Top 2 Rows of "Credit" Dataset
    Income  Limit  Rating  Cards  Age  Education  Gender Student Married  \
0   14.891   3606     283      2   34         11    Male      No     Yes
1  106.025   6645     483      3   82         15  Female     Yes     Yes

   Ethnicity  Balance
0  Caucasian      333
1      Asian      903




Top 2 Rows of "Heart" Dataset
   Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
0   63    1       typical     145   233    1        2    150      0      2.3
1   67    1  asymptomatic     160   286    0        2    108      1      1.5

   Slope   Ca    Thal  AHD
0      3  0.0   fixed   No
1      2  3.0  normal  Yes




Top 2 Rows of "Smarket" Dataset
   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today Direction
0  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959        Up
1  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032        Up




Top 2 Rows of "USArrests" Dataset
  Unnamed: 0  Murder  Assault  UrbanPop  Rape
0    Alabama    13.2      236        58  21.2
1     Alaska    10.0      263        48  44.5




Top 2 Rows of "Wage" Dataset
   year  age      sex            maritl      race        education  \
0  2006   18  1. Male  1. Never Married  1. White     1. < HS Grad
1  2004   24  1. Male  1. Never Married  1. White  4. College Grad

               region        jobclass          health health_ins   logwage  \
0  2. Middle Atlantic   1. Industrial       1. <=Good      2. No  4.318063
1  2. Middle Atlantic  2. Information  2. >=Very Good      2. No  4.255273

        wage
0  75.043154
1  70.476020




Top 2 Rows of "Default" Dataset
  default student     balance        income
1      No      No  729.526495  44361.625074
2      No     Yes  817.180407  12106.134700

### Regression 
Advertising, Auto, Credit
### Classification
Default, Smarket, Caravan
### Clustering
USArrests, NCI60,

## Identification the inputs and outputs of datasets
### Advertising
Inputs - 'TV', 'Radio', 'Newspaper'  
Output - 'Sales'
### Auto
Inputs - 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name'  
Output - 'mpg' (miles per gallon)
### Boston
Inputs - 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat'  
Output - 'medv'
### Caravan
Inputs - The rest  
Output - 'Purchase'
### Carseats
Inputs - 'CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'ShelveLoc', 'Age', 'Education', 'Urban', 'US'  
Output - 'Sales'
### Credit
Inputs - The rest  
Output - 'Income'
### Heart
Inputs - The rest  
Output - 'AHD'
### Smarket
Inputs - The rest  
Output - Direction  
### USArrests
Inputs - 
Output - 
### Wage 
Inputs - The rest  
Output - 'wage'
### Default
Inputs - The rest  
Output - 'default'