In [2]:
## Data Preprocessing
import pandas as pd
import numpy as np

## Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Modeling
from sklearn.svm import SVR, LinearSVR
from sklearn.model_selection import train_test_split, \
                                    cross_val_score, \
                                    GridSearchCV

## Find out execution time
from datetime import datetime

## Suppress warnings
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
plt.style.use('seaborn-white')

In [3]:
df = pd.read_csv('_inputs/A_exam.csv')

In [4]:
df.shape

(1000, 15)

In [5]:
df.head()

,A,B,C,F,G,H,I,J,K,L,Response,D,E,M,N
0,-139.183051,-1.060948,-0.097275,-0.365750,0.404934,-0.305241,-1.404708,0.337155,-1.592293,-0.103458,-0.456757,Male,Yes,-0.205713,-138.988001
1,29.485760,0.505301,2.554449,-1.150606,-1.136165,1.057958,0.605221,1.175852,-0.746916,1.747668,1.396062,Fema,Yes,1.892266,29.152263
2,-58.997366,0.345515,0.975520,-1.028006,-1.021109,0.281955,0.845064,-0.204924,-0.737706,0.852126,1.612660,Fema,Yes,1.080193,-58.942485
3,-337.510287,-0.535584,0.276812,0.547569,-0.625828,0.779547,-0.193539,-1.696172,-1.226760,-0.876860,-0.498703,Fema,Yes,-1.143868,-337.379225
4,-170.224848,1.288707,-0.454460,-0.638863,-1.486823,-0.525961,0.147493,-0.923201,-0.929357,-1.304802,1.186234,Fema,Yes,-1.611586,-169.823726

In [6]:
df = pd.get_dummies(df, columns=['D', 'E'], drop_first = True)
X = df.drop(columns=['Response'])
Y = df[['Response']]

In [7]:
X.head()

,A,B,C,F,G,H,I,J,K,L,M,N,D_Male,E_Yes
0,-139.183051,-1.060948,-0.097275,-0.365750,0.404934,-0.305241,-1.404708,0.337155,-1.592293,-0.103458,-0.205713,-138.988001,1,1
1,29.485760,0.505301,2.554449,-1.150606,-1.136165,1.057958,0.605221,1.175852,-0.746916,1.747668,1.892266,29.152263,0,1
2,-58.997366,0.345515,0.975520,-1.028006,-1.021109,0.281955,0.845064,-0.204924,-0.737706,0.852126,1.080193,-58.942485,0,1
3,-337.510287,-0.535584,0.276812,0.547569,-0.625828,0.779547,-0.193539,-1.696172,-1.226760,-0.876860,-1.143868,-337.379225,0,1
4,-170.224848,1.288707,-0.454460,-0.638863,-1.486823,-0.525961,0.147493,-0.923201,-0.929357,-1.304802,-1.611586,-169.823726,0,1

In [8]:
Y.head()

   Response
0 -0.456757
1  1.396062
2  1.612660
3 -0.498703
4  1.186234

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size = 0.3)